#backet {
  .backet {
    .nav {
      color: #8dc63f;
      margin-top: 30px;
      span {
        &:nth-child(3) {
          color: grey;
        }
      }
    }
    .block {
      display: flex;
      gap: 10px;
      justify-content: end;
      button {
        background-color: #8dc63f;
        padding: 8px 20px;
        color: #fff;
        border-radius: 3px;
      }
    }
    .backet-blocks {
      margin: 30px 0;
      width: 800px;
      margin-left: 400px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .backet-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 1px solid #f2f2f2;
        border-radius: 10px;
        padding: 15px;
        img {
          width: 72px;
          height: 80px;
        }
        h2 {
          font-size: 24px;
          text-transform: capitalize;
          color: rgb(0, 15, 53);
          width: 220px;
        }
        button {
          position: relative;
          padding: 10px 28px;
          font-size: 10px;
          font-weight: 700;
          background: none;
          color: rgb(0, 15, 53);
          border: 1px solid rgb(0, 15, 53);
        }
        .count-blok {
          display: flex;
          width: 250px;
          span {
            width: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(0, 15, 53);
            color: #fff;
            &:nth-child(2) {
              background: #fff;
              color: rgb(0, 15, 53);
              border: 1px solid rgb(0, 15, 53);
              font-weight: 600;
            }
            &:nth-child(4) {
              background: #fff;
              color: rgb(0, 15, 53);
              font-weight: 700;
            }
            &:nth-child(5) {
              background: #fff;
              color: rgb(0, 15, 53);
              font-weight: 700;
              flex-direction: row;
            }
          }
        }
        p {
          width: 120px;
          font-size: 26px;
          span {
            font-size: 16px;
          }
        }
        h3 {
          color: red;
        }
      }
    }
  }
}
