#list {
  .products-block {
    display: flex;

    .category-block {
      display: flex;
      flex-direction: column;

      margin-top: 20px;
      .cat-block {
        width: 248px;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 0 5px;
        &:hover {
          background-color: #f3f3f3;
        }
        p {
          color: #308ac4;
          cursor: pointer;
        }
      }
    }
  }
}
